<!DOCTYPE html>
<html>

<head>
  <title>View User</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" initial-scale="1.0">
  <!-- <link rel="stylesheet" type="text/css" href="index.css"> -->
</head>

<body>
  <h1 align="center">User Profile</h1>
  <p align="center">User ID: <%= userId %></p>
  <div align="center">
    <h3>Username: <%= user.username %></h3>
    <p>User Firstname: <%= user.firstName %></p>
    <p>User lastname: <%= user.lastName %></p>
    <p>Email: <%= user.email %></p>
  </div>

  <a href="/">Back to Homepage</a>
  <a href="/posts">Back to Posts</a>
  <a href="/users/dashboard">Back to Dashboard</a>
</body>

</html>